In [9]:
import funcs as f

In [27]:
schedule1, stats1, total_monthly1 = f.amortization_table(
    interest_rate = 1.54, 
    years = 30, 
    principal= 650000,
    yearly_tax= 3846, 
    maintenance_fee=85, 
    addl_principal=0)

In [28]:
schedule11, stats11, total_monthly11 = f.amortization_table(
    interest_rate = 3, 
    years = 27, 
    principal = schedule1.loc[36, 'Curr_Balance'], 
    yearly_tax= 3846, 
    maintenance_fee=85, 
    addl_principal=0)

In [29]:
schedule1.iloc[34:37]

,Payment_Date,Payment,Principal,Interest,Addl_Principal,Curr_Balance,Cumulative_Principal
Period,,,,,,,
35,2024-02-01,-2255.78,-1484.97,-770.81,0,599142.60,-50857.40
36,2024-03-01,-2255.78,-1486.88,-768.90,0,597655.72,-52344.28
37,2024-04-01,-2255.78,-1488.79,-766.99,0,596166.93,-53833.07

In [30]:
schedule11.iloc[83:85]

,Payment_Date,Payment,Principal,Interest,Addl_Principal,Curr_Balance,Cumulative_Principal
Period,,,,,,,
84,2028-03-01,-2693.64,-1475.72,-1217.92,0,485692.21,-111963.51
85,2028-04-01,-2693.64,-1479.41,-1214.23,0,484212.80,-113442.92

In [26]:
schedule1.loc[60, 'Cumulative_Principal'] + schedule11.loc[84, 'Cumulative_Principal']

-200571.01

In [11]:
schedule2, stats2, total_monthly2 = f.amortization_table(
    interest_rate = 1.54, 
    years = 30, 
    principal = 850000-210000,  # schedule1.loc[60, 'Curr_Balance'], 
    yearly_tax= 3846, 
    maintenance_fee=85, 
    addl_principal=0)

In [12]:
schedule1['Cum_Interest'] = schedule1['Interest'].cumsum()
schedule2['Cum_Interest'] = schedule2['Interest'].cumsum()
print(total_monthly1)
total_monthly1 = total_monthly1 - 300
total_monthly2 = total_monthly2 - 300

-2799.97

In [18]:
(total_monthly1 - total_monthly2)*36

-6242.399999999987

In [14]:
schedule1.iloc[35:63]

,Payment_Date,Payment,Principal,Interest,Addl_Principal,Curr_Balance,Cumulative_Principal,Cum_Interest
Period,,,,,,,,
36,2024-03-01,-2394.47,-1360.18,-1034.30,0,592494.58,-47505.42,-38695.59
37,2024-04-01,-2394.47,-1362.54,-1031.93,0,591132.04,-48867.96,-39727.52
38,2024-05-01,-2394.47,-1364.92,-1029.56,0,589767.12,-50232.88,-40757.08
39,2024-06-01,-2394.47,-1367.29,-1027.18,0,588399.83,-51600.17,-41784.26
40,2024-07-01,-2394.47,-1369.68,-1024.80,0,587030.15,-52969.85,-42809.06
41,2024-08-01,-2394.47,-1372.06,-1022.41,0,585658.09,-54341.91,-43831.47
42,2024-09-01,-2394.47,-1374.45,-1020.02,0,584283.64,-55716.36,-44851.49
43,2024-10-01,-2394.47,-1376.85,-1017.63,0,582906.79,-57093.21,-45869.12
44,2024-11-01,-2394.47,-1379.24,-1015.23,0,581527.55,-58472.45,-46884.35
45,2024-12-01,-2394.47,-1381.65,-1012.83,0,580145.90,-59854.10,-47897.18
46,2025-01-01,-2394.47,-1384.05,-1010.42,0,578761.85,-61238.15,-48907.60
47,2025-02-01,-2394.47,-1386.46,-1008.01,0,577375.39,-62624.61,-49915.61
48,2025-03-01,-2394.47,-1388.88,-1005.60,0,575986.51,-64013.49,-50921.21
49,2025-04-01,-2394.47,-1391.30,-1003.18,0,574595.21,-65404.79,-51924.39
50,2025-05-01,-2394.47,-1393.72,-1000.75,0,573201.49,-66798.51,-52925.14
51,2025-06-01,-2394.47,-1396.15,-998.33,0,571805.34,-68194.66,-53923.47
52,2025-07-01,-2394.47,-1398.58,-995.89,0,570406.76,-69593.24,-54919.36
53,2025-08-01,-2394.47,-1401.01,-993.46,0,569005.75,-70994.25,-55912.82
54,2025-09-01,-2394.47,-1403.45,-991.02,0,567602.30,-72397.70,-56903.84
55,2025-10-01,-2394.47,-1405.90,-988.57,0,566196.40,-73803.60,-57892.41
56,2025-11-01,-2394.47,-1408.35,-986.13,0,564788.05,-75211.95,-58878.54
57,2025-12-01,-2394.47,-1410.80,-983.67,0,563377.25,-76622.75,-59862.21
58,2026-01-01,-2394.47,-1413.26,-981.22,0,561963.99,-78036.01,-60843.43
59,2026-02-01,-2394.47,-1415.72,-978.75,0,560548.27,-79451.73,-61822.18
60,2026-03-01,-2394.47,-1418.18,-976.29,0,559130.09,-80869.91,-62798.47
61,2026-04-01,-2394.47,-1420.65,-973.82,0,557709.44,-82290.56,-63772.29
62,2026-05-01,-2394.47,-1423.13,-971.34,0,556286.31,-83713.69,-64743.63
63,2026-06-01,-2394.47,-1425.61,-968.87,0,554860.70,-85139.30,-65712.50

In [15]:
schedule1.shape[0]/12

30.0

In [16]:
schedule2.iloc[35:63]

,Payment_Date,Payment,Principal,Interest,Addl_Principal,Curr_Balance,Cumulative_Principal,Cum_Interest
Period,,,,,,,,
36,2024-03-01,-2221.07,-1464.00,-757.07,0,588460.99,-51539.01,-28419.66
37,2024-04-01,-2221.07,-1465.88,-755.19,0,586995.11,-53004.89,-29174.85
38,2024-05-01,-2221.07,-1467.76,-753.31,0,585527.35,-54472.65,-29928.16
39,2024-06-01,-2221.07,-1469.65,-751.43,0,584057.70,-55942.30,-30679.59
40,2024-07-01,-2221.07,-1471.53,-749.54,0,582586.17,-57413.83,-31429.13
41,2024-08-01,-2221.07,-1473.42,-747.65,0,581112.75,-58887.25,-32176.78
42,2024-09-01,-2221.07,-1475.31,-745.76,0,579637.44,-60362.56,-32922.54
43,2024-10-01,-2221.07,-1477.21,-743.87,0,578160.23,-61839.77,-33666.41
44,2024-11-01,-2221.07,-1479.10,-741.97,0,576681.13,-63318.87,-34408.38
45,2024-12-01,-2221.07,-1481.00,-740.07,0,575200.13,-64799.87,-35148.45
46,2025-01-01,-2221.07,-1482.90,-738.17,0,573717.23,-66282.77,-35886.62
47,2025-02-01,-2221.07,-1484.80,-736.27,0,572232.43,-67767.57,-36622.89
48,2025-03-01,-2221.07,-1486.71,-734.36,0,570745.72,-69254.28,-37357.25
49,2025-04-01,-2221.07,-1488.62,-732.46,0,569257.10,-70742.90,-38089.71
50,2025-05-01,-2221.07,-1490.53,-730.55,0,567766.57,-72233.43,-38820.26
51,2025-06-01,-2221.07,-1492.44,-728.63,0,566274.13,-73725.87,-39548.89
52,2025-07-01,-2221.07,-1494.36,-726.72,0,564779.77,-75220.23,-40275.61
53,2025-08-01,-2221.07,-1496.27,-724.80,0,563283.50,-76716.50,-41000.41
54,2025-09-01,-2221.07,-1498.19,-722.88,0,561785.31,-78214.69,-41723.29
55,2025-10-01,-2221.07,-1500.12,-720.96,0,560285.19,-79714.81,-42444.25
56,2025-11-01,-2221.07,-1502.04,-719.03,0,558783.15,-81216.85,-43163.28
57,2025-12-01,-2221.07,-1503.97,-717.11,0,557279.18,-82720.82,-43880.39
58,2026-01-01,-2221.07,-1505.90,-715.17,0,555773.28,-84226.72,-44595.56
59,2026-02-01,-2221.07,-1507.83,-713.24,0,554265.45,-85734.55,-45308.80
60,2026-03-01,-2221.07,-1509.77,-711.31,0,552755.68,-87244.32,-46020.11
61,2026-04-01,-2221.07,-1511.70,-709.37,0,551243.98,-88756.02,-46729.48
62,2026-05-01,-2221.07,-1513.64,-707.43,0,549730.34,-90269.66,-47436.91
63,2026-06-01,-2221.07,-1515.59,-705.49,0,548214.75,-91785.25,-48142.40