In [240]:
import funcs as f

In [241]:
schedule1, stats1, total_monthly1 = f.amortization_table(
    interest_rate = 2.5, 
    years = 30, 
    principal= 850000-210000, 
    yearly_tax= 3846, 
    maintenance_fee=85, 
    addl_principal=2500)

In [242]:
schedule2, stats2, total_monthly2 = f.amortization_table(
    interest_rate = 4, 
    years = 25, 
    principal = schedule1.loc[60, 'Curr_Balance'], 
    yearly_tax= 3846, 
    maintenance_fee=85, 
    addl_principal=0)

In [243]:
schedule1['Cum_Interest'] = schedule1['Interest'].cumsum()
schedule2['Cum_Interest'] = schedule2['Interest'].cumsum()
print(total_monthly1)
total_monthly1 = total_monthly1 - 300
total_monthly2 = total_monthly2 - 300

-5434.27

In [244]:
total_monthly1, total_monthly2

(-5734.27, -2889.07)

In [245]:
schedule1

,Payment_Date,Payment,Principal,Interest,Addl_Principal,Curr_Balance,Cumulative_Principal,Cum_Interest
Period,,,,,,,,
1,2021-04-01,-2528.77,-1195.44,-1333.33,-2500,636304.56,-3695.44,-1333.33
2,2021-05-01,-2528.77,-1197.93,-1330.84,-2500,632606.63,-7393.37,-2664.17
3,2021-06-01,-2528.77,-1200.43,-1328.35,-2500,628906.20,-11093.80,-3992.52
4,2021-07-01,-2528.77,-1202.93,-1325.85,-2500,625203.27,-14796.73,-5318.37
5,2021-08-01,-2528.77,-1205.43,-1323.34,-2500,621497.84,-18502.16,-6641.71
...,...,...,...,...,...,...,...,...
160,2034-07-01,-2528.77,-1664.33,-864.45,-2500,13270.69,-626729.31,-177874.58
161,2034-08-01,-2528.77,-1667.79,-860.98,-2500,9102.90,-630897.10,-178735.56
162,2034-09-01,-2528.77,-1671.27,-857.51,-2500,4931.63,-635068.37,-179593.07
163,2034-10-01,-2528.77,-1674.75,-854.02,-2500,756.88,-639243.12,-180447.09
164,2034-11-01,-1607.42,-756.88,-850.54,0,0.00,-640000.00,-181297.63

In [246]:
schedule1.shape[0]/12

13.666666666666666

In [247]:
schedule2.iloc[0:62]

,Payment_Date,Payment,Principal,Interest,Addl_Principal,Curr_Balance,Cumulative_Principal,Cum_Interest
Period,,,,,,,,
1,2021-04-01,-2183.57,-804.63,-1378.94,0,412877.80,-804.63,-1378.94
2,2021-05-01,-2183.57,-807.31,-1376.26,0,412070.49,-1611.94,-2755.20
3,2021-06-01,-2183.57,-810.00,-1373.57,0,411260.49,-2421.94,-4128.77
4,2021-07-01,-2183.57,-812.70,-1370.87,0,410447.79,-3234.64,-5499.64
5,2021-08-01,-2183.57,-815.41,-1368.16,0,409632.38,-4050.05,-6867.80
...,...,...,...,...,...,...,...,...
58,2026-01-01,-2183.57,-972.69,-1210.88,0,362291.59,-51390.84,-75256.12
59,2026-02-01,-2183.57,-975.93,-1207.64,0,361315.66,-52366.77,-76463.76
60,2026-03-01,-2183.57,-979.18,-1204.39,0,360336.48,-53345.95,-77668.15
61,2026-04-01,-2183.57,-982.45,-1201.12,0,359354.03,-54328.40,-78869.27
62,2026-05-01,-2183.57,-985.72,-1197.85,0,358368.31,-55314.12,-80067.12