In [1]:
import funcs as f

In [39]:
schedule1, stats1, total_monthly1 = f.amortization_table(
    interest_rate = 1.69, 
    years = 30, 
    principal= 850000-210000, 
    yearly_tax= 3846, 
    maintenance_fee=0, 
    addl_principal=0)

In [40]:
schedule2, stats2, total_monthly2 = f.amortization_table(
    interest_rate = 4, 
    years = 25, 
    principal = schedule1.loc[60, 'Curr_Balance'], 
    yearly_tax= 3846, 
    maintenance_fee=0, 
    addl_principal=0)

In [41]:
total_monthly1, total_monthly2

(-2588.09, -3247.48)

In [42]:
schedule1.iloc[0:64]

,Payment_Date,Payment,Principal,Interest,Addl_Principal,Curr_Balance,Cumulative_Principal
Period,,,,,,,
1,2021-04-01,-2267.59,-1366.26,-901.33,0,638633.74,-1366.26
2,2021-05-01,-2267.59,-1368.18,-899.41,0,637265.56,-2734.44
3,2021-06-01,-2267.59,-1370.11,-897.48,0,635895.45,-4104.55
4,2021-07-01,-2267.59,-1372.04,-895.55,0,634523.41,-5476.59
5,2021-08-01,-2267.59,-1373.97,-893.62,0,633149.44,-6850.56
...,...,...,...,...,...,...,...
60,2026-03-01,-2267.59,-1484.54,-783.05,0,554524.33,-85475.67
61,2026-04-01,-2267.59,-1486.63,-780.96,0,553037.70,-86962.30
62,2026-05-01,-2267.59,-1488.73,-778.86,0,551548.97,-88451.03
63,2026-06-01,-2267.59,-1490.82,-776.76,0,550058.15,-89941.85
64,2026-07-01,-2267.59,-1492.92,-774.67,0,548565.23,-91434.77

In [43]:
schedule2.iloc[0:62]

,Payment_Date,Payment,Principal,Interest,Addl_Principal,Curr_Balance,Cumulative_Principal
Period,,,,,,,
1,2021-04-01,-2926.98,-1078.57,-1848.41,0,553445.76,-1078.57
2,2021-05-01,-2926.98,-1082.16,-1844.82,0,552363.60,-2160.73
3,2021-06-01,-2926.98,-1085.77,-1841.21,0,551277.83,-3246.50
4,2021-07-01,-2926.98,-1089.39,-1837.59,0,550188.44,-4335.89
5,2021-08-01,-2926.98,-1093.02,-1833.96,0,549095.42,-5428.91
...,...,...,...,...,...,...,...
58,2026-01-01,-2926.98,-1303.85,-1623.14,0,485637.02,-68887.31
59,2026-02-01,-2926.98,-1308.19,-1618.79,0,484328.83,-70195.50
60,2026-03-01,-2926.98,-1312.55,-1614.43,0,483016.28,-71508.05
61,2026-04-01,-2926.98,-1316.93,-1610.05,0,481699.35,-72824.98
62,2026-05-01,-2926.98,-1321.32,-1605.66,0,480378.03,-74146.30